@font-face {
	font-family: "Avenir";
	src: url("fonts/Avenir.ttc") format("truetype");
	font-family: "ITC Avant Garde Gothic Pro";
	src: url("ITCAvantGardePro-Bold.otf") format("otf");
	font-weight: bold;
	font-style: normal;
}

body {
	height: auto;
}

.bg {
	background-image: url("images/bg.jpg");
	background-size: cover;
	height: auto;
	width: 100vh;
}

.products {
	padding-top: 96px;
	padding-left: 120px;
	padding-right: 106px;
}

.products-header-1 {
	/* Heading/4 */

	font-family: "ITC Avant Garde Gothic Pro", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 31.25px;
	line-height: 130%;
	/* or 41px */

	display: flex;
	align-items: flex-end;

	/* Typography/Primary */

	color: #000000;
}

.products-text-1 {
	/* Body/Body */

	font-family: "Avenir", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	/* or 26px */

	/* Typography/Body */

	color: #666666;

	padding-top: 12px;
}

.products-button {
	/* Button/Text Link Mobile */

	font-family: "Avenir", sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 12.8px;
	line-height: 17px;
	display: flex;
	align-items: center;
	text-transform: capitalize;

	/* Buttons/Primary */

	color: #000000;

	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;

	text-decoration-line: underline;
	padding-top: 32px;
	text-underline-offset: 10px;
}

.products-button a {
	text-decoration: none;
	color: #000000;
}

.products-cards {
	padding-top: 68px;
}

.products-cards img {
	height: 310px;
	width: 230px;
	margin-right: 32px;
}

.ellipse svg {
	margin-left: 9px;
}

.brand {
	/* Organic Skinny High Waist Jeans */

	padding-top: 12px;

	width: 230px;
	height: 20px;

	/* Body/Body Mobile */
	font-family: "Avenir";
	font-style: normal;
	font-weight: 400;
	font-size: 12.8px;
	line-height: 160%;
	/* or 20px */

	/* Typography/Primary */
	color: #000000;

	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
}

.price-row {
	margin-top: 12px;
}

.price {
	/* Body/Body Bold Mobile */
	font-family: "Avenir";
	font-style: normal;
	font-weight: 500;
	font-size: 12.8px;
	line-height: 160%;
	/* or 20px */
	display: flex;
	align-items: center;
	text-align: center;

	/* Typography/Primary */
	color: #000000;
}

@media (max-width: 991px) {
	.bg {
		height: 437px;
	}

	.products {
		padding-left: 24px;
	}

	.col-md-12 {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	.bg2 {
		margin-top: -100px;
	}
}
